.job__item__description {
  padding-bottom: var(--var2);
  color: var(--card-paragraph-color);
  color: #e0e0e0;
  font-weight: var(--fw-500);
  line-height: var(--line-height-1-7);
}

.showmore__btn {
  /* text-indigo-500 hover:text-indigo-600 */
  color: #6bb9f0;
  padding-bottom: var(--var5);
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  font-family: inherit; /* 1 */
  font-weight: bold;
  font-size: 1.25rem;
}

.showmore__btn:hover {
  color: var(--btn-primary-hover);
}
