.jobs__list {
  background-color: var(--section-primary-bkg);
  padding-inline: var(--var4);
  padding-block: var(--var10);
}

.jobs__list__heading {
  /*  text-indigo-500 */
  text-align: center;
  padding-bottom: var(--var6);
  font-weight: bold;
  font-size: var(--text-3xl);
  color: var(--text-secondary-1);
  /* padding-bottom: 2rem; */
}

.jobs__container {
  margin-inline: auto;
  max-width: 100%;
}

.jobs__grid {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: var(--var6);
}

/* container-xl */
@media screen and (min-width: 1280px) {
  .jobs__container {
    max-width: 80rem; /* 80rem = 1280px */
  }
}

/*  lg:container  */
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .jobs__container {
    max-width: 64rem; /* 64rem = 1024px */
  }
}

@media screen and (min-width: 768px) {
  .jobs__grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
