.card {
  border-radius: 0.5rem; /* 8px */
  padding-block: 1.5rem;
  padding-inline: 1.5rem;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.gray {
  background-color: var(--card-background-color);
  background-color: #202942;
}

.slate {
  background-color: #333d5b;
}

.card__title {
  font-size: 1.5rem; /* 24px */
  line-height: 2rem; /* 32px */
  font-weight: bold;
  color: var(--card-headline-color);
}

.card__description {
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  color: var(--card-paragraph-color);
}

.card__button {
  all: unset;
  border-radius: 0.5rem; /* 8px */
}

.card__link {
  /*  hover:bg-gray-700 */
  border-radius: 0.5rem; /* 8px */
  padding-inline: 1rem;
  padding-block: 0.5rem;
  display: inline-block;
  /* font-weight: 500; */
  font-size: 1.25rem;
}

.gray__card__button {
  background-color: #e0e0e0;
  color: #333333;
}

.gray__card__button:hover {
  background-color: var(--btn-secondary-hover);
}

.slate__card__button {
  background-color: var(--primary-darker-2);
}

.slate__card__button:hover {
  background-color: var(--primary-color);
}
