.job__item {
  background-color: white;
  border-radius: var(--rounded-xl);
  box-shadow: var(--shadow-md);
  position: relative;
}

.job__item__inner__wrapper {
  padding-block: var(--var4);
  padding-inline: var(--var4);
}

.job__item__typeandtitle__wrapper {
  padding-bottom: var(--var6);
}

.job__item__type {
  color: hsl(215, 13.79%, 34.12%);
  padding-block: var(--var2);
}

.job__item__title {
  font-size: var(--text-xl);
  font-weight: bold;
  color: black;
}

.job__item__title {
  padding-bottom: var(--var5);
}

.job__item__salary {
  /* text-indigo-500*/
  color: black;
  padding-bottom: var(--var2);
  font-weight: normal;
}

.seprator__line {
  /* border border-gray-100 mb-5 */
  border-top: 1px solid grey;
  padding-bottom: var(--var5);
  display: block;
}

.job__item__bottom__section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: var(--var4);
}

.job__item__location {
  /* text-orange-700 mb-3 */
  color: black;
  padding-bottom: var(--var3);
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}

.job__item_readmore {
  /* bg-indigo-500 hover:bg-indigo-600 text-white  */
  background-color: black;
  color: white;
  height: 2.25rem;
  border-radius: var(--rounded-lg);
  text-align: center;
  font-size: var(--text-sm);
  font-weight: var(--fw-500);
  padding-block: var(--var2);
  padding-inline: var(--var4);
  display: flex;
  align-items: center;
}

.job__item_readmore:hover {
  background-color: var(--pale-black-color);
}

@media screen and (min-width: 1024px) {
  .job__item__bottom__section {
    flex-direction: row;
  }
}
